@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  background: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.765;
  color: #555;
  margin: 0;
  padding: 0;
}
